body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 50px 30px 30px;
    width: 320px;
    text-align: center; /* Center align content */
  }
  
  .login-title {
    font-size: 28px;
    margin: 0;
    color: #333;
  }
  
  .login-form form {
    margin-top: 20px;
  }
  
  /* Set the width of input fields and button to 100% */
  input,
  .login-button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #3FF52D;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #048d5e;
  }
  
  .forgot-password {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #333;
    margin-top: 10px; /* Increased margin-top */
  }
  
  .login-button,
  .forgot-password {
    font-size: 16px;
    width: 340px;
  }
  